@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Raleway:ital@1&family=Work+Sans:ital@1&display=swap');

*{
  margin: 0;
  font-family: 'Oxygen';
  background-color: #E8EDDF;
  color: #6f7a5e;
}


/* Navbar */

.navbar {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.navbar a{
  text-decoration: none;
  font-family: 'Oxygen';
  font-weight: 600;
  margin: 15px;
}

.last_a{
  margin-right: 50px!important;
}

/* Footer */

.icones{
  text-align: center;
}

.icones a{
  color:#333533;
}
.fab, .fas {
  font-size: 25px;
  margin-left: 5px;
  margin-right: 5px;
}
/* Accueil */

.accueil{
  text-align: center;
  margin: 25px;
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
  
}

.accueil_titre{
  margin-top: 50px!important;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.pAccueil{
  padding: 15px;
  text-align: justify;
  width: 550px;
  margin-top: 50px;
}

.liste_api{
  list-style: none;
  margin-bottom: 20px;
  margin-left: 50px!important;
}

.liste_api a{
  color: #6f7a5e;
  
}

.liste_api a:hover{
  text-decoration:none;
  font-weight: 800;
}

/* Formulaire */

form{
  max-width: 500px!important;
}

.btn-danger{
  background-color: #6f7a5e!important;
  border-color: #565e4a!important;
  color:#E8EDDF!important; 
}